@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:200,300,400,500,600,700,900);

html, body {
    height: 100%;
    width: 100% !important;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-top: 0;
    background-color: black;
    background-image: url("bgimg.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-clip: border-box;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

.searchdiv {
    /* center */
    display: block;
    margin-top: 15%;
    margin-left: auto;
    margin-right: auto;
    min-width: 825px;
    width: 825px;
    box-shadow: 0px 0px 10px 2px white;
    background-color: rgba(0, 0, 0, .5);
    padding: 20px;
    border-radius: 3px;
}

#search-container {
    font-family: "Source Code Pro", monospace;
    color: #00FF00;
    font-weight: 400;
    font-size: 100%;
    min-width: 100%;
    width: 100%;
}

#search-container::before {
    content: "internet:~ will$";
}

.searchbox {
    font-family: inherit;
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    width: Calc(100% - 190px);
    min-width: Calc(100% - 190px);
    height: 35px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: none;
    background-color: transparent;
    /* was used to center before margin-left: auto;
    margin-right: auto;*/
    text-align: left;
}
.searchbox:focus {
    outline: none;
}

::-webkit-input-placeholder {
    color: white;
}

:-moz-placeholder { /* firefox 18- */
    color: white;
}

::-moz-placeholder { /* firefox 19+ */
    color: white;
}

:-ms-input-placeholder {
    color: white;
}
